In [1]:
import pandas as pd
import json
import requests
import numpy as np

Download new TAF data (92100)

In [2]:
startDate = '2018-09-01T00:00:00Z'
endDate = '2024-01-01T00:00:00Z'
var = 'DD0_6,FF0_6,FG0_6,TA0_0,UU0_0'
url = 'https://api.npolar.no/weather/troll/'
parameters = {
    'q': '',
    'format': 'json',
    'filter-station_id': 'kldata/nationalnr=92100/type=504',
    'filter-measured': startDate+'..'+endDate,
    'fields': 'measured,'+var,
    'limit': '14400',
    'start': '0'
}
r = requests.get(url, params=parameters)
data = pd.read_json(r.text,orient='records')
d = pd.DataFrame(data['feed']['entries'])
d.measured = pd.to_datetime(d.measured)
d = d.set_index('measured')
while data['feed']['list']['next']:
    r = requests.get(data['feed']['list']['next'])
    data = pd.read_json(r.text,orient='records')
    d1 = pd.DataFrame(data['feed']['entries'])
    d1.measured = pd.to_datetime(d1.measured)
    d1 = d1.set_index('measured')
    d = pd.concat([d,d1],sort=False)
d[d==-99.9] = np.nan

taf = d.sort_index()
taf.head()

                           UU0_0  DD0_6  TA0_0  FF0_6  FG0_6
measured
2018-09-14 08:13:00+00:00   73.0  173.0  -31.0    4.0    7.9
2018-09-14 08:14:00+00:00   73.0  174.0  -31.1    4.0    7.9
2018-09-14 08:15:00+00:00   73.0  174.0  -31.2    3.9    7.9
2018-09-14 08:16:00+00:00   73.0  173.0  -31.3    3.9    7.9
2018-09-14 08:17:00+00:00   72.0  171.0  -31.4    3.8    7.9

Download new Troll data (99990)

In [3]:
startDate = '2017-09-01T00:00:00Z'
endDate = '2024-01-01T00:00:00Z'
var = 'DD0_0,FF0_0,FG0_0,TA0_0,UU0_0'
url = 'https://api.npolar.no/weather/troll/'
parameters = {
    'q': '',
    'format': 'json',
    'filter-station_id': 'kldata/nationalnr=99990/type=504',
    'filter-measured': startDate+'..'+endDate,
    'fields': 'measured,'+var,
    'limit': '14400',
    'start': '0'
}
r = requests.get(url, params=parameters)
data = pd.read_json(r.text,orient='records')
d = pd.DataFrame(data['feed']['entries'])
d.measured = pd.to_datetime(d.measured)
d = d.set_index('measured')
while data['feed']['list']['next']:
    r = requests.get(data['feed']['list']['next'])
    data = pd.read_json(r.text,orient='records')
    d1 = pd.DataFrame(data['feed']['entries'])
    d1.measured = pd.to_datetime(d1.measured)
    d1 = d1.set_index('measured')
    d = pd.concat([d,d1],sort=False)
d[d==-99.9] = np.nan

stn = d.sort_index()
stn.head()

                           UU0_0  TA0_0  FF0_0  FG0_0  DD0_0
measured
2017-10-12 12:08:00+00:00   20.0  -12.3    1.2    2.7  353.0
2017-10-12 12:11:00+00:00   19.0  -12.2    1.2    2.7  341.0
2017-10-12 12:12:00+00:00   18.0  -12.2    1.2    2.7  335.0
2017-10-12 12:13:00+00:00   17.0  -12.2    1.2    2.7  328.0
2017-10-12 12:15:00+00:00   18.0  -12.3    1.4    2.7  309.0

Download old TAF data (legacy_A01)

In [6]:
startDate = '2007-01-01T00:00:00Z'
endDate = '2017-11-01T00:00:00Z'
var = 'DD0_6,FF0_6,FG0_6,TA0_0,UU0_0'
url = 'https://api.npolar.no/weather/troll/'
parameters = {
    'q': '',
    'format': 'json',
    'filter-station_id': 'legacy_A01',
    'filter-measured': startDate+'..'+endDate,
    'fields': 'measured,'+var,
    'limit': '14400',
    'start': '0'
}
r = requests.get(url, params=parameters)
data = pd.read_json(r.text,orient='records')
nTotal = data['feed']['opensearch']['totalResults']
d = pd.DataFrame(data['feed']['entries'])
d.measured = pd.to_datetime(d.measured)
d = d.set_index('measured')
while data['feed']['list']['next']:
    r = requests.get(data['feed']['list']['next'])
    data = pd.read_json(r.text,orient='records')
    d1 = pd.DataFrame(data['feed']['entries'])
    d1.measured = pd.to_datetime(d1.measured)
    d1 = d1.set_index('measured')
    d = pd.concat([d,d1],sort=False)
    print(f"Downloaded {data['feed']['opensearch']['startIndex']} of {nTotal} entries")
d[d==-99.9] = np.nan

tafl = d.sort_index()
tafl.head()

Downloaded 14400 of 4985417 entries
Downloaded 28800 of 4985417 entries
Downloaded 43200 of 4985417 entries
Downloaded 57600 of 4985417 entries
Downloaded 72000 of 4985417 entries
Downloaded 86400 of 4985417 entries
Downloaded 100800 of 4985417 entries
Downloaded 115200 of 4985417 entries
Downloaded 129600 of 4985417 entries
Downloaded 144000 of 4985417 entries
Downloaded 158400 of 4985417 entries
Downloaded 172800 of 4985417 entries
Downloaded 187200 of 4985417 entries
Downloaded 201600 of 4985417 entries
Downloaded 216000 of 4985417 entries
Downloaded 230400 of 4985417 entries
Downloaded 244800 of 4985417 entries
Downloaded 259200 of 4985417 entries
Downloaded 273600 of 4985417 entries
Downloaded 288000 of 4985417 entries
Downloaded 302400 of 4985417 entries
Downloaded 316800 of 4985417 entries
Downloaded 331200 of 4985417 entries
Downloaded 345600 of 4985417 entries
Downloaded 360000 of 4985417 entries
Downloaded 374400 of 4985417 entries
Downloaded 388800 of 4985417 entries
Downloaded 403200 of 4985417 entries
Downloaded 417600 of 4985417 entries
Downloaded 432000 of 4985417 entries
Downloaded 446400 of 4985417 entries
Downloaded 460800 of 4985417 entries
Downloaded 475200 of 4985417 entries
Downloaded 489600 of 4985417 entries
Downloaded 504000 of 4985417 entries
Downloaded 518400 of 4985417 entries
Downloaded 532800 of 4985417 entries
Downloaded 547200 of 4985417 entries
Downloaded 561600 of 4985417 entries
Downloaded 576000 of 4985417 entries
Downloaded 590400 of 4985417 entries
Downloaded 604800 of 4985417 entries
Downloaded 619200 of 4985417 entries
Downloaded 633600 of 4985417 entries
Downloaded 648000 of 4985417 entries
Downloaded 662400 of 4985417 entries
Downloaded 676800 of 4985417 entries
Downloaded 691200 of 4985417 entries
Downloaded 705600 of 4985417 entries
Downloaded 720000 of 4985417 entries
Downloaded 734400 of 4985417 entries
Downloaded 748800 of 4985417 entries
Downloaded 763200 of 4985417 entries
Downloaded 777600 of 4985417 entries
Downloaded 792000 of 4985417 entries
Downloaded 806400 of 4985417 entries
Downloaded 820800 of 4985417 entries
Downloaded 835200 of 4985417 entries
Downloaded 849600 of 4985417 entries
Downloaded 864000 of 4985417 entries
Downloaded 878400 of 4985417 entries
Downloaded 892800 of 4985417 entries
Downloaded 907200 of 4985417 entries
Downloaded 921600 of 4985417 entries
Downloaded 936000 of 4985417 entries
Downloaded 950400 of 4985417 entries
Downloaded 964800 of 4985417 entries
Downloaded 979200 of 4985417 entries
Downloaded 993600 of 4985417 entries
Downloaded 1008000 of 4985417 entries
Downloaded 1022400 of 4985417 entries
Downloaded 1036800 of 4985417 entries
Downloaded 1051200 of 4985417 entries
Downloaded 1065600 of 4985417 entries
Downloaded 1080000 of 4985417 entries
Downloaded 1094400 of 4985417 entries
Downloaded 1108800 of 4985417 entries
Downloaded 1123200 of 4985417 entries
Downloaded 1137600 of 4985417 entries
Downloaded 1152000 of 4985417 entries
Downloaded 1166400 of 4985417 entries
Downloaded 1180800 of 4985417 entries
Downloaded 1195200 of 4985417 entries
Downloaded 1209600 of 4985417 entries
Downloaded 1224000 of 4985417 entries
Downloaded 1238400 of 4985417 entries
Downloaded 1252800 of 4985417 entries
Downloaded 1267200 of 4985417 entries
Downloaded 1281600 of 4985417 entries
Downloaded 1296000 of 4985417 entries
Downloaded 1310400 of 4985417 entries
Downloaded 1324800 of 4985417 entries
Downloaded 1339200 of 4985417 entries
Downloaded 1353600 of 4985417 entries
Downloaded 1368000 of 4985417 entries
Downloaded 1382400 of 4985417 entries
Downloaded 1396800 of 4985417 entries
Downloaded 1411200 of 4985417 entries
Downloaded 1425600 of 4985417 entries
Downloaded 1440000 of 4985417 entries
Downloaded 1454400 of 4985417 entries
Downloaded 1468800 of 4985417 entries
Downloaded 1483200 of 4985417 entries
Downloaded 1497600 of 4985417 entries
Downloaded 1512000 of 4985417 entries
Downloaded 1526400 of 4985417 entries
Downloaded 1540800 of 4985417 entries
Downloaded 1555200 of 4985417 entries
Downloaded 1569600 of 4985417 entries
Downloaded 1584000 of 4985417 entries
Downloaded 1598400 of 4985417 entries
Downloaded 1612800 of 4985417 entries
Downloaded 1627200 of 4985417 entries
Downloaded 1641600 of 4985417 entries
Downloaded 1656000 of 4985417 entries
Downloaded 1670400 of 4985417 entries
Downloaded 1684800 of 4985417 entries
Downloaded 1699200 of 4985417 entries
Downloaded 1713600 of 4985417 entries
Downloaded 1728000 of 4985417 entries
Downloaded 1742400 of 4985417 entries
Downloaded 1756800 of 4985417 entries
Downloaded 1771200 of 4985417 entries
Downloaded 1785600 of 4985417 entries
Downloaded 1800000 of 4985417 entries
Downloaded 1814400 of 4985417 entries
Downloaded 1828800 of 4985417 entries
Downloaded 1843200 of 4985417 entries
Downloaded 1857600 of 4985417 entries
Downloaded 1872000 of 4985417 entries
Downloaded 1886400 of 4985417 entries
Downloaded 1900800 of 4985417 entries
Downloaded 1915200 of 4985417 entries
Downloaded 1929600 of 4985417 entries
Downloaded 1944000 of 4985417 entries
Downloaded 1958400 of 4985417 entries
Downloaded 1972800 of 4985417 entries
Downloaded 1987200 of 4985417 entries
Downloaded 2001600 of 4985417 entries
Downloaded 2016000 of 4985417 entries
Downloaded 2030400 of 4985417 entries
Downloaded 2044800 of 4985417 entries
Downloaded 2059200 of 4985417 entries
Downloaded 2073600 of 4985417 entries
Downloaded 2088000 of 4985417 entries
Downloaded 2102400 of 4985417 entries
Downloaded 2116800 of 4985417 entries
Downloaded 2131200 of 4985417 entries
Downloaded 2145600 of 4985417 entries
Downloaded 2160000 of 4985417 entries
Downloaded 2174400 of 4985417 entries
Downloaded 2188800 of 4985417 entries
Downloaded 2203200 of 4985417 entries
Downloaded 2217600 of 4985417 entries
Downloaded 2232000 of 4985417 entries
Downloaded 2246400 of 4985417 entries
Downloaded 2260800 of 4985417 entries
Downloaded 2275200 of 4985417 entries
Downloaded 2289600 of 4985417 entries
Downloaded 2304000 of 4985417 entries
Downloaded 2318400 of 4985417 entries
Downloaded 2332800 of 4985417 entries
Downloaded 2347200 of 4985417 entries
Downloaded 2361600 of 4985417 entries
Downloaded 2376000 of 4985417 entries
Downloaded 2390400 of 4985417 entries
Downloaded 2404800 of 4985417 entries
Downloaded 2419200 of 4985417 entries
Downloaded 2433600 of 4985417 entries
Downloaded 2448000 of 4985417 entries
Downloaded 2462400 of 4985417 entries
Downloaded 2476800 of 4985417 entries
Downloaded 2491200 of 4985417 entries
Downloaded 2505600 of 4985417 entries
Downloaded 2520000 of 4985417 entries
Downloaded 2534400 of 4985417 entries
Downloaded 2548800 of 4985417 entries
Downloaded 2563200 of 4985417 entries
Downloaded 2577600 of 4985417 entries
Downloaded 2592000 of 4985417 entries
Downloaded 2606400 of 4985417 entries
Downloaded 2620800 of 4985417 entries
Downloaded 2635200 of 4985417 entries
Downloaded 2649600 of 4985417 entries
Downloaded 2664000 of 4985417 entries
Downloaded 2678400 of 4985417 entries
Downloaded 2692800 of 4985417 entries
Downloaded 2707200 of 4985417 entries
Downloaded 2721600 of 4985417 entries
Downloaded 2736000 of 4985417 entries
Downloaded 2750400 of 4985417 entries
Downloaded 2764800 of 4985417 entries
Downloaded 2779200 of 4985417 entries
Downloaded 2793600 of 4985417 entries
Downloaded 2808000 of 4985417 entries
Downloaded 2822400 of 4985417 entries
Downloaded 2836800 of 4985417 entries
Downloaded 2851200 of 4985417 entries
Downloaded 2865600 of 4985417 entries
Downloaded 2880000 of 4985417 entries
Downloaded 2894400 of 4985417 entries
Downloaded 2908800 of 4985417 entries
Downloaded 2923200 of 4985417 entries
Downloaded 2937600 of 4985417 entries
Downloaded 2952000 of 4985417 entries
Downloaded 2966400 of 4985417 entries
Downloaded 2980800 of 4985417 entries
Downloaded 2995200 of 4985417 entries
Downloaded 3009600 of 4985417 entries
Downloaded 3024000 of 4985417 entries
Downloaded 3038400 of 4985417 entries
Downloaded 3052800 of 4985417 entries
Downloaded 3067200 of 4985417 entries
Downloaded 3081600 of 4985417 entries
Downloaded 3096000 of 4985417 entries
Downloaded 3110400 of 4985417 entries
Downloaded 3124800 of 4985417 entries
Downloaded 3139200 of 4985417 entries
Downloaded 3153600 of 4985417 entries
Downloaded 3168000 of 4985417 entries
Downloaded 3182400 of 4985417 entries
Downloaded 3196800 of 4985417 entries
Downloaded 3211200 of 4985417 entries
Downloaded 3225600 of 4985417 entries
Downloaded 3240000 of 4985417 entries
Downloaded 3254400 of 4985417 entries
Downloaded 3268800 of 4985417 entries
Downloaded 3283200 of 4985417 entries
Downloaded 3297600 of 4985417 entries
Downloaded 3312000 of 4985417 entries
Downloaded 3326400 of 4985417 entries
Downloaded 3340800 of 4985417 entries
Downloaded 3355200 of 4985417 entries
Downloaded 3369600 of 4985417 entries
Downloaded 3384000 of 4985417 entries
Downloaded 3398400 of 4985417 entries
Downloaded 3412800 of 4985417 entries
Downloaded 3427200 of 4985417 entries
Downloaded 3441600 of 4985417 entries
Downloaded 3456000 of 4985417 entries
Downloaded 3470400 of 4985417 entries
Downloaded 3484800 of 4985417 entries
Downloaded 3499200 of 4985417 entries
Downloaded 3513600 of 4985417 entries
Downloaded 3528000 of 4985417 entries
Downloaded 3542400 of 4985417 entries
Downloaded 3556800 of 4985417 entries
Downloaded 3571200 of 4985417 entries
Downloaded 3585600 of 4985417 entries
Downloaded 3600000 of 4985417 entries
Downloaded 3614400 of 4985417 entries
Downloaded 3628800 of 4985417 entries
Downloaded 3643200 of 4985417 entries
Downloaded 3657600 of 4985417 entries
Downloaded 3672000 of 4985417 entries
Downloaded 3686400 of 4985417 entries
Downloaded 3700800 of 4985417 entries
Downloaded 3715200 of 4985417 entries
Downloaded 3729600 of 4985417 entries
Downloaded 3744000 of 4985417 entries
Downloaded 3758400 of 4985417 entries
Downloaded 3772800 of 4985417 entries
Downloaded 3787200 of 4985417 entries
Downloaded 3801600 of 4985417 entries
Downloaded 3816000 of 4985417 entries
Downloaded 3830400 of 4985417 entries
Downloaded 3844800 of 4985417 entries
Downloaded 3859200 of 4985417 entries
Downloaded 3873600 of 4985417 entries
Downloaded 3888000 of 4985417 entries
Downloaded 3902400 of 4985417 entries
Downloaded 3916800 of 4985417 entries
Downloaded 3931200 of 4985417 entries
Downloaded 3945600 of 4985417 entries
Downloaded 3960000 of 4985417 entries
Downloaded 3974400 of 4985417 entries
Downloaded 3988800 of 4985417 entries
Downloaded 4003200 of 4985417 entries
Downloaded 4017600 of 4985417 entries
Downloaded 4032000 of 4985417 entries
Downloaded 4046400 of 4985417 entries
Downloaded 4060800 of 4985417 entries
Downloaded 4075200 of 4985417 entries
Downloaded 4089600 of 4985417 entries
Downloaded 4104000 of 4985417 entries
Downloaded 4118400 of 4985417 entries
Downloaded 4132800 of 4985417 entries
Downloaded 4147200 of 4985417 entries
Downloaded 4161600 of 4985417 entries
Downloaded 4176000 of 4985417 entries
Downloaded 4190400 of 4985417 entries
Downloaded 4204800 of 4985417 entries
Downloaded 4219200 of 4985417 entries
Downloaded 4233600 of 4985417 entries
Downloaded 4248000 of 4985417 entries
Downloaded 4262400 of 4985417 entries
Downloaded 4276800 of 4985417 entries
Downloaded 4291200 of 4985417 entries
Downloaded 4305600 of 4985417 entries
Downloaded 4320000 of 4985417 entries
Downloaded 4334400 of 4985417 entries
Downloaded 4348800 of 4985417 entries
Downloaded 4363200 of 4985417 entries
Downloaded 4377600 of 4985417 entries
Downloaded 4392000 of 4985417 entries
Downloaded 4406400 of 4985417 entries
Downloaded 4420800 of 4985417 entries
Downloaded 4435200 of 4985417 entries
Downloaded 4449600 of 4985417 entries
Downloaded 4464000 of 4985417 entries
Downloaded 4478400 of 4985417 entries
Downloaded 4492800 of 4985417 entries
Downloaded 4507200 of 4985417 entries
Downloaded 4521600 of 4985417 entries
Downloaded 4536000 of 4985417 entries
Downloaded 4550400 of 4985417 entries
Downloaded 4564800 of 4985417 entries
Downloaded 4579200 of 4985417 entries
Downloaded 4593600 of 4985417 entries
Downloaded 4608000 of 4985417 entries
Downloaded 4622400 of 4985417 entries
Downloaded 4636800 of 4985417 entries
Downloaded 4651200 of 4985417 entries
Downloaded 4665600 of 4985417 entries
Downloaded 4680000 of 4985417 entries
Downloaded 4694400 of 4985417 entries
Downloaded 4708800 of 4985417 entries
Downloaded 4723200 of 4985417 entries
Downloaded 4737600 of 4985417 entries
Downloaded 4752000 of 4985417 entries
Downloaded 4766400 of 4985417 entries
Downloaded 4780800 of 4985417 entries
Downloaded 4795200 of 4985417 entries
Downloaded 4809600 of 4985417 entries
Downloaded 4824000 of 4985417 entries
Downloaded 4838400 of 4985417 entries
Downloaded 4852800 of 4985417 entries
Downloaded 4867200 of 4985417 entries
Downloaded 4881600 of 4985417 entries
Downloaded 4896000 of 4985417 entries
Downloaded 4910400 of 4985417 entries
Downloaded 4924800 of 4985417 entries
Downloaded 4939200 of 4985417 entries
Downloaded 4953600 of 4985417 entries
Downloaded 4968000 of 4985417 entries
Downloaded 4982400 of 4985417 entries

                           TA0_0  DD0_6  FF0_6  FG0_6
measured
2007-01-28 13:32:00+00:00    NaN    NaN    NaN    NaN
2007-01-28 13:33:00+00:00  -7.88  90.43   9.42    NaN
2007-01-28 13:34:00+00:00  -7.80  91.66   9.40  12.25
2007-01-28 13:35:00+00:00  -7.85  92.75   9.57  12.25
2007-01-28 13:36:00+00:00    NaN  93.68   9.45  11.60

Download old Troll data (legacy_S01)

In [7]:
startDate = '2007-01-01T00:00:00Z'
endDate = '2018-11-01T00:00:00Z'
var = 'DD0_0,FF0_0,FG0_0,TA0_0,UU0_0'
url = 'https://api.npolar.no/weather/troll/'
parameters = {
    'q': '',
    'format': 'json',
    'filter-station_id': 'legacy_S01',
    'filter-measured': startDate+'..'+endDate,
    'fields': 'measured,'+var,
    'limit': '14400',
    'start': '0'
}
r = requests.get(url, params=parameters)
data = pd.read_json(r.text,orient='records')
nTotal = data['feed']['opensearch']['totalResults']
d = pd.DataFrame(data['feed']['entries'])
d.measured = pd.to_datetime(d.measured)
d = d.set_index('measured')
while data['feed']['list']['next']:
    r = requests.get(data['feed']['list']['next'])
    data = pd.read_json(r.text,orient='records')
    d1 = pd.DataFrame(data['feed']['entries'])
    d1.measured = pd.to_datetime(d1.measured)
    d1 = d1.set_index('measured')
    d = pd.concat([d,d1],sort=False)
    print(f"Downloaded {data['feed']['opensearch']['startIndex']} of {nTotal} entries")
d[d==-99.9] = np.nan

stnl = d.sort_index()
stnl.head()

Downloaded 14400 of 6009422 entries
Downloaded 28800 of 6009422 entries
Downloaded 43200 of 6009422 entries
Downloaded 57600 of 6009422 entries
Downloaded 72000 of 6009422 entries
Downloaded 86400 of 6009422 entries
Downloaded 100800 of 6009422 entries
Downloaded 115200 of 6009422 entries
Downloaded 129600 of 6009422 entries
Downloaded 144000 of 6009422 entries
Downloaded 158400 of 6009422 entries
Downloaded 172800 of 6009422 entries
Downloaded 187200 of 6009422 entries
Downloaded 201600 of 6009422 entries
Downloaded 216000 of 6009422 entries
Downloaded 230400 of 6009422 entries
Downloaded 244800 of 6009422 entries
Downloaded 259200 of 6009422 entries
Downloaded 273600 of 6009422 entries
Downloaded 288000 of 6009422 entries
Downloaded 302400 of 6009422 entries
Downloaded 316800 of 6009422 entries
Downloaded 331200 of 6009422 entries
Downloaded 345600 of 6009422 entries
Downloaded 360000 of 6009422 entries
Downloaded 374400 of 6009422 entries
Downloaded 388800 of 6009422 entries
Downloaded 403200 of 6009422 entries
Downloaded 417600 of 6009422 entries
Downloaded 432000 of 6009422 entries
Downloaded 446400 of 6009422 entries
Downloaded 460800 of 6009422 entries
Downloaded 475200 of 6009422 entries
Downloaded 489600 of 6009422 entries
Downloaded 504000 of 6009422 entries
Downloaded 518400 of 6009422 entries
Downloaded 532800 of 6009422 entries
Downloaded 547200 of 6009422 entries
Downloaded 561600 of 6009422 entries
Downloaded 576000 of 6009422 entries
Downloaded 590400 of 6009422 entries
Downloaded 604800 of 6009422 entries
Downloaded 619200 of 6009422 entries
Downloaded 633600 of 6009422 entries
Downloaded 648000 of 6009422 entries
Downloaded 662400 of 6009422 entries
Downloaded 676800 of 6009422 entries
Downloaded 691200 of 6009422 entries
Downloaded 705600 of 6009422 entries
Downloaded 720000 of 6009422 entries
Downloaded 734400 of 6009422 entries
Downloaded 748800 of 6009422 entries
Downloaded 763200 of 6009422 entries
Downloaded 777600 of 6009422 entries
Downloaded 792000 of 6009422 entries
Downloaded 806400 of 6009422 entries
Downloaded 820800 of 6009422 entries
Downloaded 835200 of 6009422 entries
Downloaded 849600 of 6009422 entries
Downloaded 864000 of 6009422 entries
Downloaded 878400 of 6009422 entries
Downloaded 892800 of 6009422 entries
Downloaded 907200 of 6009422 entries
Downloaded 921600 of 6009422 entries
Downloaded 936000 of 6009422 entries
Downloaded 950400 of 6009422 entries
Downloaded 964800 of 6009422 entries
Downloaded 979200 of 6009422 entries
Downloaded 993600 of 6009422 entries
Downloaded 1008000 of 6009422 entries
Downloaded 1022400 of 6009422 entries
Downloaded 1036800 of 6009422 entries
Downloaded 1051200 of 6009422 entries
Downloaded 1065600 of 6009422 entries
Downloaded 1080000 of 6009422 entries
Downloaded 1094400 of 6009422 entries
Downloaded 1108800 of 6009422 entries
Downloaded 1123200 of 6009422 entries
Downloaded 1137600 of 6009422 entries
Downloaded 1152000 of 6009422 entries
Downloaded 1166400 of 6009422 entries
Downloaded 1180800 of 6009422 entries
Downloaded 1195200 of 6009422 entries
Downloaded 1209600 of 6009422 entries
Downloaded 1224000 of 6009422 entries
Downloaded 1238400 of 6009422 entries
Downloaded 1252800 of 6009422 entries
Downloaded 1267200 of 6009422 entries
Downloaded 1281600 of 6009422 entries
Downloaded 1296000 of 6009422 entries
Downloaded 1310400 of 6009422 entries
Downloaded 1324800 of 6009422 entries
Downloaded 1339200 of 6009422 entries
Downloaded 1353600 of 6009422 entries
Downloaded 1368000 of 6009422 entries
Downloaded 1382400 of 6009422 entries
Downloaded 1396800 of 6009422 entries
Downloaded 1411200 of 6009422 entries
Downloaded 1425600 of 6009422 entries
Downloaded 1440000 of 6009422 entries
Downloaded 1454400 of 6009422 entries
Downloaded 1468800 of 6009422 entries
Downloaded 1483200 of 6009422 entries
Downloaded 1497600 of 6009422 entries
Downloaded 1512000 of 6009422 entries
Downloaded 1526400 of 6009422 entries
Downloaded 1540800 of 6009422 entries
Downloaded 1555200 of 6009422 entries
Downloaded 1569600 of 6009422 entries
Downloaded 1584000 of 6009422 entries
Downloaded 1598400 of 6009422 entries
Downloaded 1612800 of 6009422 entries
Downloaded 1627200 of 6009422 entries
Downloaded 1641600 of 6009422 entries
Downloaded 1656000 of 6009422 entries
Downloaded 1670400 of 6009422 entries
Downloaded 1684800 of 6009422 entries
Downloaded 1699200 of 6009422 entries
Downloaded 1713600 of 6009422 entries
Downloaded 1728000 of 6009422 entries
Downloaded 1742400 of 6009422 entries
Downloaded 1756800 of 6009422 entries
Downloaded 1771200 of 6009422 entries
Downloaded 1785600 of 6009422 entries
Downloaded 1800000 of 6009422 entries
Downloaded 1814400 of 6009422 entries
Downloaded 1828800 of 6009422 entries
Downloaded 1843200 of 6009422 entries
Downloaded 1857600 of 6009422 entries
Downloaded 1872000 of 6009422 entries
Downloaded 1886400 of 6009422 entries
Downloaded 1900800 of 6009422 entries
Downloaded 1915200 of 6009422 entries
Downloaded 1929600 of 6009422 entries
Downloaded 1944000 of 6009422 entries
Downloaded 1958400 of 6009422 entries
Downloaded 1972800 of 6009422 entries
Downloaded 1987200 of 6009422 entries
Downloaded 2001600 of 6009422 entries
Downloaded 2016000 of 6009422 entries
Downloaded 2030400 of 6009422 entries
Downloaded 2044800 of 6009422 entries
Downloaded 2059200 of 6009422 entries
Downloaded 2073600 of 6009422 entries
Downloaded 2088000 of 6009422 entries
Downloaded 2102400 of 6009422 entries
Downloaded 2116800 of 6009422 entries
Downloaded 2131200 of 6009422 entries
Downloaded 2145600 of 6009422 entries
Downloaded 2160000 of 6009422 entries
Downloaded 2174400 of 6009422 entries
Downloaded 2188800 of 6009422 entries
Downloaded 2203200 of 6009422 entries
Downloaded 2217600 of 6009422 entries
Downloaded 2232000 of 6009422 entries
Downloaded 2246400 of 6009422 entries
Downloaded 2260800 of 6009422 entries
Downloaded 2275200 of 6009422 entries
Downloaded 2289600 of 6009422 entries
Downloaded 2304000 of 6009422 entries
Downloaded 2318400 of 6009422 entries
Downloaded 2332800 of 6009422 entries
Downloaded 2347200 of 6009422 entries
Downloaded 2361600 of 6009422 entries
Downloaded 2376000 of 6009422 entries
Downloaded 2390400 of 6009422 entries
Downloaded 2404800 of 6009422 entries
Downloaded 2419200 of 6009422 entries
Downloaded 2433600 of 6009422 entries
Downloaded 2448000 of 6009422 entries
Downloaded 2462400 of 6009422 entries
Downloaded 2476800 of 6009422 entries
Downloaded 2491200 of 6009422 entries
Downloaded 2505600 of 6009422 entries
Downloaded 2520000 of 6009422 entries
Downloaded 2534400 of 6009422 entries
Downloaded 2548800 of 6009422 entries
Downloaded 2563200 of 6009422 entries
Downloaded 2577600 of 6009422 entries
Downloaded 2592000 of 6009422 entries
Downloaded 2606400 of 6009422 entries
Downloaded 2620800 of 6009422 entries
Downloaded 2635200 of 6009422 entries
Downloaded 2649600 of 6009422 entries
Downloaded 2664000 of 6009422 entries
Downloaded 2678400 of 6009422 entries
Downloaded 2692800 of 6009422 entries
Downloaded 2707200 of 6009422 entries
Downloaded 2721600 of 6009422 entries
Downloaded 2736000 of 6009422 entries
Downloaded 2750400 of 6009422 entries
Downloaded 2764800 of 6009422 entries
Downloaded 2779200 of 6009422 entries
Downloaded 2793600 of 6009422 entries
Downloaded 2808000 of 6009422 entries
Downloaded 2822400 of 6009422 entries
Downloaded 2836800 of 6009422 entries
Downloaded 2851200 of 6009422 entries
Downloaded 2865600 of 6009422 entries
Downloaded 2880000 of 6009422 entries
Downloaded 2894400 of 6009422 entries
Downloaded 2908800 of 6009422 entries
Downloaded 2923200 of 6009422 entries
Downloaded 2937600 of 6009422 entries
Downloaded 2952000 of 6009422 entries
Downloaded 2966400 of 6009422 entries
Downloaded 2980800 of 6009422 entries
Downloaded 2995200 of 6009422 entries
Downloaded 3009600 of 6009422 entries
Downloaded 3024000 of 6009422 entries
Downloaded 3038400 of 6009422 entries
Downloaded 3052800 of 6009422 entries
Downloaded 3067200 of 6009422 entries
Downloaded 3081600 of 6009422 entries
Downloaded 3096000 of 6009422 entries
Downloaded 3110400 of 6009422 entries
Downloaded 3124800 of 6009422 entries
Downloaded 3139200 of 6009422 entries
Downloaded 3153600 of 6009422 entries
Downloaded 3168000 of 6009422 entries
Downloaded 3182400 of 6009422 entries
Downloaded 3196800 of 6009422 entries
Downloaded 3211200 of 6009422 entries
Downloaded 3225600 of 6009422 entries
Downloaded 3240000 of 6009422 entries
Downloaded 3254400 of 6009422 entries
Downloaded 3268800 of 6009422 entries
Downloaded 3283200 of 6009422 entries
Downloaded 3297600 of 6009422 entries
Downloaded 3312000 of 6009422 entries
Downloaded 3326400 of 6009422 entries
Downloaded 3340800 of 6009422 entries
Downloaded 3355200 of 6009422 entries
Downloaded 3369600 of 6009422 entries
Downloaded 3384000 of 6009422 entries
Downloaded 3398400 of 6009422 entries
Downloaded 3412800 of 6009422 entries
Downloaded 3427200 of 6009422 entries
Downloaded 3441600 of 6009422 entries
Downloaded 3456000 of 6009422 entries
Downloaded 3470400 of 6009422 entries
Downloaded 3484800 of 6009422 entries
Downloaded 3499200 of 6009422 entries
Downloaded 3513600 of 6009422 entries
Downloaded 3528000 of 6009422 entries
Downloaded 3542400 of 6009422 entries
Downloaded 3556800 of 6009422 entries
Downloaded 3571200 of 6009422 entries
Downloaded 3585600 of 6009422 entries
Downloaded 3600000 of 6009422 entries
Downloaded 3614400 of 6009422 entries
Downloaded 3628800 of 6009422 entries
Downloaded 3643200 of 6009422 entries
Downloaded 3657600 of 6009422 entries
Downloaded 3672000 of 6009422 entries
Downloaded 3686400 of 6009422 entries
Downloaded 3700800 of 6009422 entries
Downloaded 3715200 of 6009422 entries
Downloaded 3729600 of 6009422 entries
Downloaded 3744000 of 6009422 entries
Downloaded 3758400 of 6009422 entries
Downloaded 3772800 of 6009422 entries
Downloaded 3787200 of 6009422 entries
Downloaded 3801600 of 6009422 entries
Downloaded 3816000 of 6009422 entries
Downloaded 3830400 of 6009422 entries
Downloaded 3844800 of 6009422 entries
Downloaded 3859200 of 6009422 entries
Downloaded 3873600 of 6009422 entries
Downloaded 3888000 of 6009422 entries
Downloaded 3902400 of 6009422 entries
Downloaded 3916800 of 6009422 entries
Downloaded 3931200 of 6009422 entries
Downloaded 3945600 of 6009422 entries
Downloaded 3960000 of 6009422 entries
Downloaded 3974400 of 6009422 entries
Downloaded 3988800 of 6009422 entries
Downloaded 4003200 of 6009422 entries
Downloaded 4017600 of 6009422 entries
Downloaded 4032000 of 6009422 entries
Downloaded 4046400 of 6009422 entries
Downloaded 4060800 of 6009422 entries
Downloaded 4075200 of 6009422 entries
Downloaded 4089600 of 6009422 entries
Downloaded 4104000 of 6009422 entries
Downloaded 4118400 of 6009422 entries
Downloaded 4132800 of 6009422 entries
Downloaded 4147200 of 6009422 entries
Downloaded 4161600 of 6009422 entries
Downloaded 4176000 of 6009422 entries
Downloaded 4190400 of 6009422 entries
Downloaded 4204800 of 6009422 entries
Downloaded 4219200 of 6009422 entries
Downloaded 4233600 of 6009422 entries
Downloaded 4248000 of 6009422 entries
Downloaded 4262400 of 6009422 entries
Downloaded 4276800 of 6009422 entries
Downloaded 4291200 of 6009422 entries
Downloaded 4305600 of 6009422 entries
Downloaded 4320000 of 6009422 entries
Downloaded 4334400 of 6009422 entries
Downloaded 4348800 of 6009422 entries
Downloaded 4363200 of 6009422 entries
Downloaded 4377600 of 6009422 entries
Downloaded 4392000 of 6009422 entries
Downloaded 4406400 of 6009422 entries
Downloaded 4420800 of 6009422 entries
Downloaded 4435200 of 6009422 entries
Downloaded 4449600 of 6009422 entries
Downloaded 4464000 of 6009422 entries
Downloaded 4478400 of 6009422 entries
Downloaded 4492800 of 6009422 entries
Downloaded 4507200 of 6009422 entries
Downloaded 4521600 of 6009422 entries
Downloaded 4536000 of 6009422 entries
Downloaded 4550400 of 6009422 entries
Downloaded 4564800 of 6009422 entries
Downloaded 4579200 of 6009422 entries
Downloaded 4593600 of 6009422 entries
Downloaded 4608000 of 6009422 entries
Downloaded 4622400 of 6009422 entries
Downloaded 4636800 of 6009422 entries
Downloaded 4651200 of 6009422 entries
Downloaded 4665600 of 6009422 entries
Downloaded 4680000 of 6009422 entries
Downloaded 4694400 of 6009422 entries
Downloaded 4708800 of 6009422 entries
Downloaded 4723200 of 6009422 entries
Downloaded 4737600 of 6009422 entries
Downloaded 4752000 of 6009422 entries
Downloaded 4766400 of 6009422 entries
Downloaded 4780800 of 6009422 entries
Downloaded 4795200 of 6009422 entries
Downloaded 4809600 of 6009422 entries
Downloaded 4824000 of 6009422 entries
Downloaded 4838400 of 6009422 entries
Downloaded 4852800 of 6009422 entries
Downloaded 4867200 of 6009422 entries
Downloaded 4881600 of 6009422 entries
Downloaded 4896000 of 6009422 entries
Downloaded 4910400 of 6009422 entries
Downloaded 4924800 of 6009422 entries
Downloaded 4939200 of 6009422 entries
Downloaded 4953600 of 6009422 entries
Downloaded 4968000 of 6009422 entries
Downloaded 4982400 of 6009422 entries
Downloaded 4996800 of 6009422 entries
Downloaded 5011200 of 6009422 entries
Downloaded 5025600 of 6009422 entries
Downloaded 5040000 of 6009422 entries
Downloaded 5054400 of 6009422 entries
Downloaded 5068800 of 6009422 entries
Downloaded 5083200 of 6009422 entries
Downloaded 5097600 of 6009422 entries
Downloaded 5112000 of 6009422 entries
Downloaded 5126400 of 6009422 entries
Downloaded 5140800 of 6009422 entries
Downloaded 5155200 of 6009422 entries
Downloaded 5169600 of 6009422 entries
Downloaded 5184000 of 6009422 entries
Downloaded 5198400 of 6009422 entries
Downloaded 5212800 of 6009422 entries
Downloaded 5227200 of 6009422 entries
Downloaded 5241600 of 6009422 entries
Downloaded 5256000 of 6009422 entries
Downloaded 5270400 of 6009422 entries
Downloaded 5284800 of 6009422 entries
Downloaded 5299200 of 6009422 entries
Downloaded 5313600 of 6009422 entries
Downloaded 5328000 of 6009422 entries
Downloaded 5342400 of 6009422 entries
Downloaded 5356800 of 6009422 entries
Downloaded 5371200 of 6009422 entries
Downloaded 5385600 of 6009422 entries
Downloaded 5400000 of 6009422 entries
Downloaded 5414400 of 6009422 entries
Downloaded 5428800 of 6009422 entries
Downloaded 5443200 of 6009422 entries
Downloaded 5457600 of 6009422 entries
Downloaded 5472000 of 6009422 entries
Downloaded 5486400 of 6009422 entries
Downloaded 5500800 of 6009422 entries
Downloaded 5515200 of 6009422 entries
Downloaded 5529600 of 6009422 entries
Downloaded 5544000 of 6009422 entries
Downloaded 5558400 of 6009422 entries
Downloaded 5572800 of 6009422 entries
Downloaded 5587200 of 6009422 entries
Downloaded 5601600 of 6009422 entries
Downloaded 5616000 of 6009422 entries
Downloaded 5630400 of 6009422 entries
Downloaded 5644800 of 6009422 entries
Downloaded 5659200 of 6009422 entries
Downloaded 5673600 of 6009422 entries
Downloaded 5688000 of 6009422 entries
Downloaded 5702400 of 6009422 entries
Downloaded 5716800 of 6009422 entries
Downloaded 5731200 of 6009422 entries
Downloaded 5745600 of 6009422 entries
Downloaded 5760000 of 6009422 entries
Downloaded 5774400 of 6009422 entries
Downloaded 5788800 of 6009422 entries
Downloaded 5803200 of 6009422 entries
Downloaded 5817600 of 6009422 entries
Downloaded 5832000 of 6009422 entries
Downloaded 5846400 of 6009422 entries
Downloaded 5860800 of 6009422 entries
Downloaded 5875200 of 6009422 entries
Downloaded 5889600 of 6009422 entries
Downloaded 5904000 of 6009422 entries
Downloaded 5918400 of 6009422 entries
Downloaded 5932800 of 6009422 entries
Downloaded 5947200 of 6009422 entries
Downloaded 5961600 of 6009422 entries
Downloaded 5976000 of 6009422 entries
Downloaded 5990400 of 6009422 entries
Downloaded 6004800 of 6009422 entries

                           UU0_0  TA0_0  FF0_0  FG0_0   DD0_0
measured
2007-01-01 00:00:00+00:00   37.0   -5.3   0.86    1.4  298.01
2007-01-01 00:01:00+00:00   39.0   -5.3   0.99    1.8  290.24
2007-01-01 00:02:00+00:00   37.0   -5.3   1.10    1.8  281.65
2007-01-01 00:03:00+00:00   36.0   -5.2   1.21    1.5  274.70
2007-01-01 00:04:00+00:00   39.0   -5.2   1.22    1.5  273.08

In [9]:
taf.rename(columns={'UU0_0': 'rh', 'DD0_6': 'wd', 'TA0_0': 'T', 'FF0_6': 'ws', 'FG0_6': 'wg'}, inplace=True)
taf

                             rh     wd     T   ws   wg
measured
2018-09-14 08:13:00+00:00  73.0  173.0 -31.0  4.0  7.9
2018-09-14 08:14:00+00:00  73.0  174.0 -31.1  4.0  7.9
2018-09-14 08:15:00+00:00  73.0  174.0 -31.2  3.9  7.9
2018-09-14 08:16:00+00:00  73.0  173.0 -31.3  3.9  7.9
2018-09-14 08:17:00+00:00  72.0  171.0 -31.4  3.8  7.9
...                         ...    ...   ...  ...  ...
2023-12-31 23:55:00+00:00  63.0  195.0 -10.3  1.9  5.1
2023-12-31 23:56:00+00:00  62.0  194.0 -10.2  2.0  5.1
2023-12-31 23:57:00+00:00  62.0  193.0 -10.2  2.0  5.1
2023-12-31 23:58:00+00:00  62.0  192.0 -10.1  2.1  5.1
2023-12-31 23:59:00+00:00  62.0  192.0 -10.1  2.1  5.1

[2669794 rows x 5 columns]

In [10]:
stn.rename(columns={'UU0_0': 'rh', 'DD0_0': 'wd', 'TA0_0': 'T', 'FF0_0': 'ws', 'FG0_0': 'wg'}, inplace=True)
stn

                             rh     T   ws   wg     wd
measured
2017-10-12 12:08:00+00:00  20.0 -12.3  1.2  2.7  353.0
2017-10-12 12:11:00+00:00  19.0 -12.2  1.2  2.7  341.0
2017-10-12 12:12:00+00:00  18.0 -12.2  1.2  2.7  335.0
2017-10-12 12:13:00+00:00  17.0 -12.2  1.2  2.7  328.0
2017-10-12 12:15:00+00:00  18.0 -12.3  1.4  2.7  309.0
...                         ...   ...  ...  ...    ...
2023-12-31 23:55:00+00:00  53.0  -9.8  0.5  4.5  322.0
2023-12-31 23:56:00+00:00  53.0  -9.7  0.3  4.5  349.0
2023-12-31 23:57:00+00:00  52.0  -9.7  0.3  4.5  354.0
2023-12-31 23:58:00+00:00  52.0  -9.7  0.1  4.5  358.0
2023-12-31 23:59:00+00:00  52.0  -9.7  0.1  4.5  359.0

[3158625 rows x 5 columns]

In [11]:
tafl.rename(columns={'DD0_6': 'wd', 'TA0_0': 'T', 'FF0_6': 'ws', 'FG0_6': 'wg'}, inplace=True)
tafl

                              T      wd    ws     wg
measured
2007-01-28 13:32:00+00:00   NaN     NaN   NaN    NaN
2007-01-28 13:33:00+00:00 -7.88   90.43  9.42    NaN
2007-01-28 13:34:00+00:00 -7.80   91.66  9.40  12.25
2007-01-28 13:35:00+00:00 -7.85   92.75  9.57  12.25
2007-01-28 13:36:00+00:00   NaN   93.68  9.45  11.60
...                         ...     ...   ...    ...
2017-10-31 23:55:00+00:00   NaN  238.01  1.84   7.45
2017-10-31 23:56:00+00:00   NaN  237.17  1.80   4.76
2017-10-31 23:57:00+00:00   NaN  236.37  1.78   4.76
2017-10-31 23:58:00+00:00   NaN  235.93  1.76   2.15
2017-10-31 23:59:00+00:00   NaN  235.93  1.77   2.09

[4985417 rows x 4 columns]

In [12]:
stnl.rename(columns={'UU0_0': 'rh', 'DD0_0': 'wd', 'TA0_0': 'T', 'FF0_0': 'ws', 'FG0_0': 'wg'}, inplace=True)
stnl

                             rh    T    ws    wg      wd
measured
2007-01-01 00:00:00+00:00  37.0 -5.3  0.86  1.40  298.01
2007-01-01 00:01:00+00:00  39.0 -5.3  0.99  1.80  290.24
2007-01-01 00:02:00+00:00  37.0 -5.3  1.10  1.80  281.65
2007-01-01 00:03:00+00:00  36.0 -5.2  1.21  1.50  274.70
2007-01-01 00:04:00+00:00  39.0 -5.2  1.22  1.50  273.08
...                         ...  ...   ...   ...     ...
2018-10-31 23:55:00+00:00  41.0  NaN  1.70  3.78   74.70
2018-10-31 23:56:00+00:00  38.0  NaN  1.88  4.92   83.00
2018-10-31 23:57:00+00:00  37.0  NaN  1.98  2.22   79.20
2018-10-31 23:58:00+00:00  38.0  NaN  2.12  2.66   76.00
2018-10-31 23:59:00+00:00  39.0  NaN  2.29  3.02   74.90

[6009422 rows x 5 columns]

In [13]:
taf.to_pickle('taf_2018-09_2023-12.pkl.gz')
stn.to_pickle('troll_2017-10_2023-12.pkl.gz')
tafl.to_pickle('tafOld_2007-01_2017-10.pkl.gz')
stnl.to_pickle('trollOld_2007-01_2018-10.pkl.gz')